<div class="container__menu-bar">
   <div class="menu-bar__content">
      <a href="#"><img src="https://media.licdn.com/dms/image/D4D03AQGz_84ZZOXlYA/profile-displayphoto-shrink_200_200/0/1666905985686?e=1688601600&v=beta&t=dEMuPW2P0mt3Xe4I4YtN7F7uDpY-xHp5Ri6IjJkwCj0" alt=""></a>
      <ul>
         <li><a href="">Linkedin</a></li>
         <li><span>•</span></li>
         <li><a href="">Github</a></li>
         <li><span>•</span></li>
         <li><a href="">Portfólio</a></li>
      </ul>
   </div>
</div>
